<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('public', path='/style.css') }}">
    <script type="module" src="{{ url_for('public', path='/logout.js') }}"></script>
</head>

<body>
    <header class="member">
        <div>
            <h1>
                <span>GYM</span> STUDIO
            </h1>
        </div>
        <div class="list">
            <a href="/">
                <li>HOME</li>
            </a>
            <li>ABOUT</li>
            <a href="/subscription" style="color: white;">
                <li>SUBSCRIPTION</li>
            </a>
            {% if not user_token %}
            <a href="/login">
                <button class="signup" id="signup">
                    Login
                </button>
            </a>
            {% endif %}
            {% if user_token %}
            <button class="logout-btn" id="logout-btn" style="display: hidden;">
                Logout
            </button>
            {% endif %}
        </div>
    </header>
    <section class="pricing">
        <div>
            <h1>
                <span> Membership Plans </span>
            </h1>
            <p>
                Take your best membership
            </p>
        </div>
        <div class="pricing_details">
            {% for subscription in subscriptions %}
            <div>
                <p class="pricing_name">{{ subscription.get("name") }}</p>
                <div>
                    <p>Price {{ subscription.get("price") }}</p>
                    <p>Validity {{ subscription.get("validity") }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</body>

</html>